@model EntityLayer.Concrete.Admin
@{
    ViewBag.Title = "AddAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h1>New Category Adding Page</h1>
<bt />
@using (Html.BeginForm("AddAdmin", "Authorization", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Admin User Name")
        @Html.TextBoxFor(x => x.AdminUserName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.AdminUserName)
        <br /> <br />
        @Html.Label("Password")
        @Html.TextBoxFor(x => x.AdminPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.AdminPassword)
        <br /> <br />
        @Html.Label("Role")
        @Html.TextBoxFor(x => x.AdminRole, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.AdminRole)
        <br /> <br />
        <button class="btn btn-outline-info">Add Admin</button>
    </div>
}

